# used in tandem with package.json engines section to only use yarn
engine-strict=true

save-exact=true          # defaultSemverRangePrefix에 대응 (고정 버전 사용)
registry=https://registry.npmjs.org/  # npmRegistryServer에 대응
prefer-frozen-lockfile=true